<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div *ngFor="let n of newslist;index as i">
            <div *ngIf="i==0" class="carousel-item active">
                <img class="d-block w-100" src="https://wallpaperaccess.com/full/1188566.jpg" height="400px"
                    width="800px" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{n.title}}</h5>
                    <p>{{i}}</p>
                </div>
            </div>
            <div *ngIf="i!=0" class="carousel-item">
                <img class="d-block w-100" src="https://wallpaperaccess.com/full/1188566.jpg" height="400px"
                    width="800px" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{n.title}}</h5>
                    <p>{{i}}</p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> -->
<hr>
<div class="row">
    <h3><b>News</b></h3>
</div>
<div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let n of newslist">
        <div class="card-body">
            <h5 class="card-title">{{n.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{n.newsDate}}</h6>
            <p class="card-text">{{n.content}}</p>

        </div>
    </div>
</div>