<div style="align-self: center;">
    <p>Hello {{userName}}</p>
</div>
<hr>
<mat-accordion multi>
    <mat-expansion-panel *ngFor="let user of users;index as i" (opened)="panelOpenState[i] = true"
        (closed)="panelOpenState[i] = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b> {{user.name}}</b>
            </mat-panel-title>
            <mat-panel-description>
                {{panelOpenState[i] ? 'Hide' : 'View'}} Posts
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let post of user?.posts" class="row">
            <div *ngIf="!isEditEnabled[i]" class="col-md-10">
                <p>{{post.content}}</p>
            </div>
            <div *ngIf="isEditEnabled[i]" class="col-md-10">
                <app-post [post]="post" requestType='update'></app-post>
            </div>

            <div *ngIf="userid == user.id" class="col-md-1">
                <div class="example-button-row">
                    <div class="example-flex-container">
                        <button (click)=deletePost(post.id) mat-icon-button
                            aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>

            </div>
            <div *ngIf="userid == user.id" class="col-md-1">
                <div class="example-button-row">
                    <div class="example-flex-container">
                        <button (click)=verifyEdit(i) mat-icon-button aria-label="Edit Post">
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </mat-expansion-panel>
    <hr>
    <div>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title class="col-md-11">
                    <b>Create a new Post</b>
                </mat-panel-title>
                <mat-panel-description class="col-md-1">
                    <mat-icon color="primary">add_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-post requestType='create'></app-post>
        </mat-expansion-panel>
    </div>

</mat-accordion>
<div class="row">
    <app-news></app-news>
</div>